<div class="layout">
  <div class="grid grid--cols-5">
    <div class="col col--start gap text--center">
      <span class="title font--bold">Today</span>
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[0] }}">
        <br/>
        <span class="description text-stroke">{{ condition[0] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_max[0] | round }}° / {{ daily_temps_min[0] | round }}°</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg">
          <span class="value value--xxsmall mr--1">{{ daily_rain_prob[0] | round }}%</span>
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/{{ daily_wind_icon[0] }}" />
          <span class="value value--xxsmall">{{ daily_wind_label[0] }}<sup>m</sup>/<sub>s</sub></span>
        </div>
      </div>
    </div>
    {% for i in (1..4) %}
    <div class="col col--start gap text--center">
      {% if forloop.index == 1 %}
      <span class="title font--bold">Tomorrow</span>
      {% else %}
      <span class="title font--bold">{{ daily_dates[i] | date: "%A" }}</span>
      {% endif %}
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[i] }}">
        <br/>
        <span class="description text-stroke">{{ condition[i] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_max[i] | round }}° / {{ daily_temps_min[i] | round }}°</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall">{{ daily_rain_prob[i] | round }}%</span>
          <img class="weather-icon-mini" src="https://usetrmnl.com/images/plugins/weather/{{ daily_wind_icon[i] }}">
          <span class="value value--xxsmall mr--1">{{ daily_wind_label[i] }}<sup>m</sup>/<sub>s</sub></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://procore-marketplace.s3.amazonaws.com/production/uploads/603f8d6d-ddbd-4e63-b6e4-c1d4e8272bbc.png">
  <h1 class="title">Tomorrow.io Forecast</h1>
  <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.location_name }}</span>
</div>
