<div class="layout layout--col gap--space-between">
  <div class="grid">
    <div class="row row--center col--span-2 col--end">
      <img class="weather-image" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[o0] }}">
    </div>
    <div class="col col--span-3 col--end gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="icon">
          <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/wi-thermometer.svg">
        </div>
        <div class="content">
          <span class="value value--small">{{ daily_temps_max[o0] | round }}°</span>
          <span class="label">High</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="icon">
          <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/wi-thermometer-exterior.svg">
        </div>
        <div class="content">
          <span class="value value--small">{{ daily_temps_min[o0] | round }}°</span>
          <span class="label">Low</span>
        </div>
      </div>
      <div class="item">
        <div class="meta"></div>
        <div class="icon">
          <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg">
        </div>
        <div class="content">
          <span class="value value--small">{{ daily_rain_prob[o0] | round }}%</span>
          <span class="label">Rain</span>
        </div>
      </div>
    </div>
  </div>
  <div class="border--h-6 w--full"></div>
  <!-- forecast -->
  <div class="grid grid--cols-3">
    <div class="col col--start gap--medium text--center">
      <span class="title font--bold">{{ label1 }}</span>
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[o1] }}">
        <br/>
        <span class="description">{{ condition[o1] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_max[o1] | round }}° / {{ daily_temps_min[o1] | round }}°</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini image-stroke" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall text-stroke">{{ daily_rain_prob[o1] | round }}%</span>
          <img class="weather-icon-mini image-stroke" src="https://usetrmnl.com/images/plugins/weather/{{ daily_wind_icon[o1] }}">
          <span class="value value--xxsmall text-stroke mr--1">{{ daily_wind_speed[o1] | round }}<sup>m</sup>/<sub>s</sub></span>
        </div>
      </div>
    </div>
    <div class="col col--start gap--medium text--center">
      <span class="title font--bold">{{ label2 }}</span>
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[o2] }}">
        <br/>
        <span class="description">{{ condition[o2] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_max[o2] | round }}° / {{ daily_temps_min[o2] | round }}°</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini image-stroke" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall text-stroke">{{ daily_rain_prob[o2] | round }}%</span>
          <img class="weather-icon-mini image-stroke" src="https://usetrmnl.com/images/plugins/weather/{{ daily_wind_icon[o2] }}">
          <span class="value value--xxsmall text-stroke mr--1">{{ daily_wind_speed[o2] | round }}<sup>m</sup>/<sub>s</sub></span>
        </div>
      </div>
    </div>
    <div class="col col--start gap--medium text--center">
      <span class="title font--bold">{{ label3 }}</span>
      <div class="w--full">
        <img class="weather-icon" src="https://usetrmnl.com/images/plugins/weather/{{ image_day[o3] }}">
        <br/>
        <span class="description">{{ condition[o3] }}</span>
      </div>
      <div class="w--full">
        <span class="value value--xsmall">{{ daily_temps_max[o3] | round }}° / {{ daily_temps_min[o3] | round }}°</span>
      </div>
      <div class="w--full">
        <div class="flex flex--row gap--xsmall">
          <img class="weather-icon-mini image-stroke" src="https://usetrmnl.com/images/plugins/weather/wi-rain.svg" />
          <span class="value value--xxsmall text-stroke">{{ daily_rain_prob[o3] | round }}%</span>
          <img class="weather-icon-mini image-stroke" src="https://usetrmnl.com/images/plugins/weather/{{ daily_wind_icon[o3] }}">
          <span class="value value--xxsmall text-stroke mr--1">{{ daily_wind_speed[o3] | round }}<sup>m</sup>/<sub>s</sub></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://procore-marketplace.s3.amazonaws.com/production/uploads/603f8d6d-ddbd-4e63-b6e4-c1d4e8272bbc.png">
  <h1 class="title">Tomorrow.io Forecast</h1>
  <span class="instance">{{ trmnl.plugin_settings.custom_fields_values.location_name }}</span>
</div>
